body{
  background:black;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
a{
  display:block;
  margin-bottom:2rem;
  font-size:2rem;
}
.container{

  width:100%;

}

h1{
  font-size: 3rem;
text-align: center;
}
.loggedin{
  height:17rem;
  width:100%;
  background:url('../assets/images/heroLogin.jpeg');
  background-repeat:no-repeat;
  background-size:cover;
  border:1px solid white;
  border-radius:20px;
}
input{
  color:white;
  display: block;
  width: 18%;
  margin: 0 auto;
  background: black;
  border: none;
  border-bottom: 1px solid white;
  min-width:40%;
  margin-bottom:1rem;
}

.register-link{
  color:#C87340;
  padding-right:0;
  padding-left:.5rem;
}
h3{
  text-align:center;
}
.subheader{
  padding-top:0;
}
h2{
  text-align:center;
}
span{
  display:block;
  text-align:center;
}
.register-button, .login-button{
  background: green;
    border-radius: 21px;
    color: white;
}
@media (min-width:500px){

h1{
  font-size:4rem;
}
li {
  width:45%;
  display:inline-block;
}

}
@media (min-width:800px){
  #menuToggle{
    span{
      display:none;
    }
  }
  input{
    font-size:1rem;
    width:30%;
  }
  li{
    display:inline-block;
    width:30%;
  }
}
